.center,
.button {
  justify-content: center;
  align-items: center;
}

.button {
  transition: 250ms;
  cursor: pointer;
  text-decoration: none;
}

.button,
.input {
  background-color: var(--slate-dark-4);
  border-radius: 12px;
  color: var(--slate-dark-11);
  padding: 12px;
  border: none;
}

.button:disabled {
  cursor: not-allowed;
}

.button:disabled:hover {
  background-color: var(--slate-dark-4);
}

.button:hover {
  background-color: var(--slate-dark-3);
}

.row {
  flex-direction: row;
  align-items: center;
}

.column {
  flex-direction: column;
}

.row,
.column,
.center,
.button {
  display: flex;
}

.summary {
  user-select: none;
  list-style: none;
  cursor: pointer;
}

.error {
  color: #ea5353;
}
