:root {
  --black: #000000;
  --slate-dark-4: #26292b;
  --slate-dark-11: #9ba1a6;
  --slate-dark-10: #787f85;
  --slate-dark-1: #151718;
  --slate-dark-3: #202425;

  --fs-small: 14px;
}

body {
  background-color: var(--black);
  color: var(--slate-dark-10);
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
button,
input {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
