:root {
  --black: #000000;
  --slate-dark-4: #26292b;
  --slate-dark-11: #9ba1a6;
  --slate-dark-10: #787f85;
  --slate-dark-1: #151718;

  --fs-small: 14px;
}

body {
  background-color: var(--black);
  color: var(--slate-dark-10);
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
button {
  font-family: inherit;
}
