.main {
  max-width: 800px;
  margin: 0 auto;
  flex-direction: column;
  gap: 36px;
  height: 100%;
}

.location {
  gap: 4px;
}

.header {
  flex-direction: column;
  gap: 12px;
}

.links {
  flex-direction: row;
  gap: 24px;
}

.link {
  text-decoration: none;
  padding: 12px;
}

.avatar {
  height: 320px;
  width: 320px;
}

@media (max-width: 1200px) {
  .avatar {
    height: 256px;
    width: 256px;
  }
}

@media (max-width: 768px) {
  .avatar {
    height: 224px;
    width: 224px;
  }
}