.container {
  height: 54px;
}

.details {
  background-color: var(--slate-dark-4);
  padding: 12px 14px;
  border-radius: 12px;
  cursor: pointer;
  box-sizing: border-box;
}

.summary {
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  height: 100%;
}

.chevron {
  transition: 300ms;
}

.details:not([open]) {
  height: 100%;
}

.details[open] .chevron {
  transform: rotate(180deg);
}

.details button {
  border: none;
  background-color: var(--slate-dark-1);
  color: var(--slate-dark-11);
  padding: 8px;
  border-radius: 12px;
  cursor: pointer;
  width: 100%;
}

.details ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
