.address,
.button {
  font-size: var(--fs-small);
  color: var(--slate-dark-11);
  font-weight: 500;
  font-size: 14px;
}

.iconRef,
.avatar {
  height: 20px;
}

.walletList {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.connect {
  font-size: 16px;
  font-weight: 600;
}

.placeholder {
  background-color: var(--slate-dark-4);
  padding: 12px 14px;
  border-radius: 12px;
  width: 194px;
  height: 32px;
}
