.address,
.button {
  font-size: var(--fs-small);
  color: var(--slate-dark-11);
  font-weight: 500;
  font-size: 14px;
}

.iconRef,
.avatar {
  height: 20px;
}

.connect {
  font-size: 16px;
  font-weight: 600;
}

.placeholder {
  background-color: var(--slate-dark-4);
  padding: 12px 14px;
  border-radius: 12px;
  width: 194px;
  height: 32px;
}

.dropdown {
  width: 194px;
}

@media screen and (max-width: 800px) {
  .dropdown {
    width: 148px;
  }
}
